# Ignore node_modules directory
node_modules/

# Ignore package-lock.json
package-lock.json

# Ignore Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Ignore environment-specific files
.env